.header {
    background: url("../../img/body.png") center top no-repeat #000;
    background-size: cover;
}

.header__wrap {
    padding-bottom: 150px;
}

.header__top {
    display: grid;
    grid-template-columns: 224px 1fr;
    grid-column-gap: 20px;
    padding-top: 40px;
    align-items: center;
}

.header__info {
    margin-top: 16.6%;
    margin-bottom: 16.6%;
    text-align: center;
}

.header__title {
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 36px;
    text-align: center;
    font-weight: normal;
}

.header__text {
    text-align: center
}

.header__link {
    font-size: 30px;
    line-height: 75px;
    color: #000000;
    font-weight: 800;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 12px;
    transition-duration: 500ms;
    transition-property: letter-spacing;
}

.header__link:hover {
    letter-spacing: 15px;
}

.header__btn {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 84px;
    height: 42px;
    cursor: pointer;
    animation-name: animateArrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

// адаптивность

@media (max-width: 1280px) {
    .header__title {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 18px;
    }
}

@media (max-width: 768px) {
    .header__top {
        grid-template-columns: auto;
        justify-items: center;
    }

    .header__logo {
        margin-bottom: 15px;
    }
}

@media (max-width: 580px) {
    .header__title {
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 7px;
    }
    .header__link {
        letter-spacing: 20px;
        line-height: 45px;
        letter-spacing: 4px;
    }

    .header__link:hover {
        letter-spacing: 9px;
    }
}

@keyframes animateArrow {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
    }
}