.instagram {
    background: url("../../img/instagram-bg.png") center top no-repeat #000;
    background-size: cover;
    max-width: 100%;
}

.instagram__title {
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 36px;
    text-align: center;
    font-weight: normal;
}

.instagram__info {
    padding-top: 24%;
    padding-bottom: 24%;
}

.instagram__text {
    text-align: center
}

.instagram__link {
    font-size: 30px;
    line-height: 75px;
    color: #f84545;
    font-weight: 800;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 12px;
    transition-duration: 500ms;
    transition-property: letter-spacing;
}

.instagram__link:hover {
    letter-spacing: 15px
}

@media (max-width: 1280px) {
    .instagram__title {
        font-size: 30px;
        line-height: 60px;
        letter-spacing: 15px;
    }
    .instagram__link {
        font-size: 20px;
        line-height: 50px;
        font-weight: 600;
        letter-spacing: 10px;
    }
}

    .instagram__logo {
        margin-bottom: 15px;
    }
}

@media (max-width: 580px) {
    .instagram__title {
        font-size: 20px;
        letter-spacing: 10px;
    }
    .instagram__link {
        font-size: 8px;
        letter-spacing: 10px;
        line-height: 45px;
        letter-spacing: 2px;
    }

    .instagram__link:hover {
        letter-spacing: 1px;
    }
}