* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth ;
}

body {
    font-family: Proxima, Arial, sans-serif;
    font-style: 16px;
    color: #000;
    overflow-wrap: break-word;
    background-image: url("img/background.png");
}

.container {
    max-width: 100%;
    min-width: 360px;
}

.wrap {
    max-width: 1800px;
    min-width: 290px;
    padding: 0 15px;
    margin 0 auto;
}